body {
    margin: 0
}

header {
    background: '#03a9f4';
    text-align: 'center';
}

.logo {
    color: rgb(70, 0, 0);
    font-size: 40px;
}

header input {
    font-size: 20px;
    margin: 20px 0;
}

.newsItem {
    box-sizing: border-box;
    padding: 20px;    
    border-bottom: 1px solid gray;
}